@import "../../../public/source/sass/normalize";
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

audio {
    display: none;
}

[data-scale] {
    opacity: 0;
    transition: all 0.3s;
    display: none;
}

[data-scale].fadeIn {
    opacity: 1;
}

$stageWidth: 750px;
$stageHeight: 1334px;
.stage-wrap {
    position: relative;
}

.stage {
    position: absolute;
    width: $stageWidth;
    height: $stageHeight;
    left: 50%;
    top: 50%;
    margin-top: -$stageHeight/2;
    margin-left: -$stageWidth/2;
    background: url("../img/bg.jpg") no-repeat 0 0;
    overflow: hidden;
}

$musicCSize: 80px;
.music-control {
    width: $musicCSize;
    height: $musicCSize;
    position: absolute;
    top: 28px;
    right: 30px;
    z-index: 99;
    display: none;
    &.music-off {
        background: url("../img/music-off.png") no-repeat 0 0;
    }
    &.music-on {
        background: url("../img/music-on.png") no-repeat 0 0;
        animation: musicRotate 8s linear infinite;
        -webkit-animation: musicRotate 8s linear infinite;
    }
}

@keyframes musicRotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.sprite {
    display: block;
    margin: 0 auto;
}

.load-wrap {
    $loadingWidth: 346px;
    $loadingHeight: 242px;
    width: $loadingWidth;
    height: $loadingHeight;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$loadingHeight/2 - 100px;
    margin-left: -$loadingWidth/2;
    text-align: center;
    overflow: hidden;
    transition: all 0.5s;
    opacity: 1;
    &.hide {
        opacity: 0;
    }
    .loading-sprite {
        width: 310px;
        height: 165px;
        margin-bottom: 20px;
        animation: loadingSprite 0.8s linear infinite;
    }
    @keyframes loadingSprite {
        0%,
        100%,
        30%,
        80% {
            background: url("../img/niu1.png") no-repeat center bottom;
        }
        31%,
        79% {
            background: url("../img/niu2.png") no-repeat center bottom;
        }
    }
    img {
        display: block;
    }
    span {
        font-size: 32px;
        color: #673715;
        font-family: "Arial";
    }
}