@charset "utf-8";
@import "reset";
.container {
    width: 1024px;
    margin: 0 auto;
}

.box {
    width: 100%;
    height: 300px;
    background: linear-gradient(#fb3 50%, #58a 50%);
    margin-top: 50px;
}